<!DOCTYPE html>
<html>
<head>
    <title>Voucher</title>
</head>
<body>
    <header></header>
    <div class="container">
        {{{body}}}
    </div>
    <footer></footer>
</body>
</html>